/* line 17, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/_grid.sass */
.grids {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1; }
  /* line 4, ../sass/_grid.sass */
  .grids .column1 {
    float: left;
    margin-left: 3.8%;
    width: 4.85%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column1:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column2 {
    float: left;
    margin-left: 3.8%;
    width: 13.5%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column2:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column3 {
    float: left;
    margin-left: 3.8%;
    width: 22.15%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column3:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column4 {
    float: left;
    margin-left: 3.8%;
    width: 30.8%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column4:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column5 {
    float: left;
    margin-left: 3.8%;
    width: 39.45%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column5:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column6 {
    float: left;
    margin-left: 3.8%;
    width: 48.1%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column6:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column7 {
    float: left;
    margin-left: 3.8%;
    width: 56.75%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column7:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column8 {
    float: left;
    margin-left: 3.8%;
    width: 65.4%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column8:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column9 {
    float: left;
    margin-left: 3.8%;
    width: 74.05%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column9:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column10 {
    float: left;
    margin-left: 3.8%;
    width: 82.7%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column10:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column11 {
    float: left;
    margin-left: 3.8%;
    width: 91.35%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column11:first-child {
      margin-left: 0; }
  /* line 4, ../sass/_grid.sass */
  .grids .column12 {
    float: left;
    margin-left: 3.8%;
    width: 100%; }
    /* line 14, ../sass/_mixin.sass */
    .grids .column12:first-child {
      margin-left: 0; }

/* line 1, ../sass/_base.sass */
body {
  font-family: "Helvetica Neue", "Helvetica";
  color: #424242;
  font-size: 14px;
  line-height: 24px; }

/* line 7, ../sass/_base.sass */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.2; }

/* line 12, ../sass/_base.sass */
h1 {
  font-size: 47px; }

/* line 12, ../sass/_base.sass */
h2 {
  font-size: 37px; }

/* line 12, ../sass/_base.sass */
h3 {
  font-size: 28px; }

/* line 12, ../sass/_base.sass */
h4 {
  font-size: 17px; }

/* line 12, ../sass/_base.sass */
h5 {
  font-size: 14px; }

/* line 16, ../sass/_base.sass */
h3 {
  margin: 27px 0 13.5px 0; }

/* line 19, ../sass/_base.sass */
a {
  color: #51a351;
  text-decoration: none; }
  /* line 22, ../sass/_base.sass */
  a:hover {
    color: #f26740; }

/* line 25, ../sass/_base.sass */
#container {
  margin: 54px auto; }

/* line 1, ../sass/_header.sass */
header {
  width: 100%;
  height: 36px;
  padding: 27px 0px;
  line-height: 36px;
  background-color: #e7e7e7;
  vertical-align: middle; }
  /* line 9, ../sass/_header.sass */
  header img {
    margin-right: 10px;
    vertical-align: middle; }
  /* line 13, ../sass/_header.sass */
  header a {
    color: #424242; }
  /* line 17, ../sass/_header.sass */
  header .menu ul {
    text-align: right; }
    /* line 19, ../sass/_header.sass */
    header .menu ul li {
      display: inline-block;
      text-transform: uppercase;
      margin-right: 20px; }
      /* line 23, ../sass/_header.sass */
      header .menu ul li:last-child {
        margin-right: 0; }

/* line 2, ../sass/_post.sass */
.post .title {
  color: #424242; }
  /* line 4, ../sass/_post.sass */
  .post .title:hover {
    color: #999999; }
/* line 6, ../sass/_post.sass */
.post .info {
  position: relative;
  margin: 5px 0 40.5px 0;
  line-height: 20px; }
  /* line 10, ../sass/_post.sass */
  .post .info:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 30px;
    height: 0;
    margin-top: 0.25em;
    border-bottom: 1px solid #555555; }
  /* line 21, ../sass/_post.sass */
  .post .info .label {
    display: inline-block;
    color: #999999;
    width: 70px; }

/* line 2, ../sass/_sidebar.sass */
#profile img {
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  border-radius: 40%;
  vertical-align: middle; }

/* line 6, ../sass/_sidebar.sass */
#introduce {
  margin-top: 30px; }
  /* line 9, ../sass/_sidebar.sass */
  #introduce .username {
    font-size: 23px; }
  /* line 12, ../sass/_sidebar.sass */
  #introduce .detail {
    margin-top: 5px;
    line-height: 20px; }
  /* line 16, ../sass/_sidebar.sass */
  #introduce .social-icon {
    margin-top: 10px; }
    /* line 19, ../sass/_sidebar.sass */
    #introduce .social-icon li {
      display: inline-block; }
      /* line 21, ../sass/_sidebar.sass */
      #introduce .social-icon li a {
        display: inline-block; }

/* line 25, ../sass/_sidebar.sass */
#tags {
  margin-top: 70px; }
  /* line 27, ../sass/_sidebar.sass */
  #tags .title {
    display: inline-block;
    font-weight: bold;
    font-size: 37px;
    margin-bottom: 20px; }
  /* line 33, ../sass/_sidebar.sass */
  #tags ul li {
    margin: 0 10px 10px 0;
    padding: 5px;
    background-color: #222222;
    display: inline-block;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    border-radius: 20%; }
    /* line 39, ../sass/_sidebar.sass */
    #tags ul li:last-child {
      margin-right: 0; }
    /* line 41, ../sass/_sidebar.sass */
    #tags ul li:hover {
      background-color: #999999; }
      /* line 43, ../sass/_sidebar.sass */
      #tags ul li:hover a {
        text-shadow: #333333 0px 0px 10px;
        color: #e7e7e7; }
    /* line 46, ../sass/_sidebar.sass */
    #tags ul li a {
      color: #51a351; }

/* line 1, ../sass/_footer.sass */
footer {
  color: #e7e7e7;
  background-color: #222222;
  text-align: center; }

/* line 1, ../sass/_animations.sass */
.spin {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  /* line 7, ../sass/_animations.sass */
  .spin:hover {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

/* line 66, social-icon/*.png */
.social-icon-sprite, .social-icon-facebook, .social-icon-github, .social-icon-twitter, .social-icon-youtube {
  background: url('../images/social-icon-s0cf412a2f1.png') no-repeat; }

/* line 60, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icon-facebook {
  background-position: 0 0;
  height: 32px;
  width: 32px; }

/* line 60, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icon-github {
  background-position: -42px 0;
  height: 32px;
  width: 32px; }

/* line 60, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icon-twitter {
  background-position: -84px 0;
  height: 32px;
  width: 32px; }

/* line 60, ../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-icon-youtube {
  background-position: -126px 0;
  height: 32px;
  width: 32px; }
